@import url('commun.css'); /* Importation des styles globaux */

/* --- Structure des sections --- */
.full-width-container {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

/* --- Organisation des cartes en grille --- */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Deux colonnes */
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
}

.feature-card {
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    animation: fadeInUp 1.5s ease-in-out;
}

.feature-card:hover {
    transform: translateY(-10px);
    background-color: lightgray;
}

.icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: bounce 2s infinite;
}

h3 {
    font-size: 2rem;
    color: #0a0b45;
    margin-bottom: 1rem;
}

.features .feature-card p {
    font-size: 1.2rem;
    color: #555;
}


/* --- Responsive Design spécifique à BDE --- */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;  /* Une colonne sur tablette */
    }

    h3 {
        font-size: 1.8rem;
    }

    .feature-card p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .container {
        display: block;
        max-width: 1200px;
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }

    .feature-card {
        width: 100%;
        max-width: 600px;
    }

    h3 {
        font-size: 1.2rem;
    }

    .feature-card p {
        font-size: 0.9rem;
    }
}
