@import url('commun.css'); /* Importation des styles communs */

header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

/* Menu latéral */
#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease;
    color: white;
    z-index: 1000;
}

#menu.active {
    width: 100%;
}

#menu ul li a:hover {
    color: #ffcc00;
}

/* Parcours */
.parcours {
    background: #f9f9f9;
    border-left: 5px solid var(--primary-color);
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
}

/* Bouton */
.btn-candidater {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.btn-candidater:hover {
    background-color: #005580;
}
