* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #eaeaea; /* Couleur de fond plus claire */
    color: #333;
}

main {
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
    border-radius: 12px; /* Coins plus arrondis */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #005f8c; /* Couleur du titre principal plus sombre */
    font-size: 2.5em; /* Taille de police plus grande */
}

nav {
    text-align: center;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #005f8c;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px; /* Espacement autour des liens */
    border-radius: 5px; /* Coins arrondis */
    transition: background 0.3s; /* Transition pour l'effet au survol */
}

section {
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #ddd; /* Bordure plus légère */
    border-radius: 8px;
    background-color: #f9f9f9; /* Fond légèrement gris */
}

section h2 {
    color: #005f8c;
    border-bottom: 2px solid #005f8c;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background: #0076a8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.btn:hover {
    background: #005f8c;
}














* {
    font-family: "Poppins", sans-serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 70%;
    height: 360px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
    margin: 2rem auto;
}

.container .item {
    background-color: #33CCFF;
    flex: 0 0 100%;
    padding: 24px;
   /* border-radius: 10px; */
    scroll-snap-align: start;
}

.container .item:nth-child(2) {
    background-color: #33CCFF;
}

.container .item:nth-child(3) {
    background-color: #009A74;
}

.container .item:nth-child(4) {
    background-color: #faab08;
}

.container .item span {
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.container .item p {
    padding-top: 15px;
}

.container .item button {
    margin-top: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.bloc-text{
    font-size: 13px;
    color: black;
}
