* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.intro h2 {
    font-size: 2.8rem;
    color: #292ccf;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.full-width-container {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
}

.feature-card {
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    animation: fadeInUp 1.5s ease-in-out;
}

.feature-card:hover {
    transform: translateY(-10px);
    background-color: lightgray;
}

.icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: bounce 2s infinite;
}

h3 {
    font-size: 2rem;
    color: #0a0b45;
    margin-bottom: 1rem;
}

.feature-card p {
    font-size: 1.2rem;
    color: #555;
}

.bde-info p {
    font-size: 1.5rem;
    color: #333;
    text-align: justify;
    line-height: 1.6;
    padding: 0 2rem;
}

.image-cards .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem 0;
}

.image-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.image-card:hover img {
    transform: scale(1.1);
}

.image-card h3 {
    font-size: 1.8rem;
    color: #0a0b45;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.image-card p {
    font-size: 1.2rem;
    color: #555;
}

.image-card:hover {
    transform: translateY(-10px);
    background-color: #e8ebf2;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
