


/* Conteneur principal */
.container {
    display: grid;
    grid-template-columns: 250px 1fr; /* Deux colonnes : barre latérale et contenu */
    height: 100%;
    overflow: hidden;
}

/* Barre latérale */
#sidebar {
    background-color: #1F63DE;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.tab {
    margin-bottom: 20px;
    padding: 12px 15px;
    width: 100%;
    text-align: left;
    background-color: #1b57c3;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;
    font-size: 1em;
    font-weight: 500;
    color: white;
}

.tab:hover {
    background-color: #FFFF85; /* Vert turquoise */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color : black;
}

.tab:active {
    background-color: #ffffd6; /* Vert foncé */
}

/* Zone de contenu */
#content {
    background-color: #ffffff;
    padding: 30px;
    overflow-y: auto;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

/* Titres */
h1, h2, h3 {
    color: #000000; /* Texte principal sombre */
    margin: 0 0 15px;
}

/* Liste des annonces */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tab ul li {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Fond clair */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tab ul li:hover {
    background-color: #eef3f7; /* Fond légèrement plus sombre */
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Texte des annonces */
p {
    color: #7f8c8d; /* Texte subtil */
    margin: 10px 0;
    line-height: 1.6;
}

/* Petites informations */
small {
    color: #95a5a6; /* Texte discret */
    font-size: 0.9em;
    align-self: flex-end;
}

/* Animation subtile */
.tab:hover,
#tab ul li:hover {
    animation: subtle-move 0.8s ease-in-out infinite; /* Animation infinie tant que hover */
}

@keyframes subtle-move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}